<?xml version='1.0' encoding='utf-8'?>
<widget id="net.qjzd.club"
  version="1.0.0"
  android-versionCode="117"
  ios-CFBundleVersion="117"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <name display="秦晋之巅社区">QJZD CLUB</name>
    <description>
      Ionic app for https://qjzd.net
    </description>
    <author email="qinjinzhidian@126.com" href="http://github.com/nqdy666">
      Nian Qin
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
